body{
    background:  url('../img/fundo.png') no-repeat top center fixed, url('../img/duke.png') no-repeat right bottom fixed !important;
    /* background-color: white; */
    background-size: cover;
    left: 50%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%;
}

.form{
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 2px solid black;
	;
    border-radius: 1em;
    box-shadow: 5px 5px 2px black;
}

input{
    box-shadow: 0 0 0 0 !important;
}

#formatarInputs{
    color: black !important;
}